name: Build and Deploy PDFs to GitHub Pages

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile
        uses: xu-cheng/latex-action@v3
        with:
          work_in_root_file_dir: true
          root_file: |
            lak/lak.tex
            cc/cc.tex
            cc-swe/cc-swe-mini.tex
            cc-swe/cc-swe-mini-print.tex

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            lak/lak.pdf
            cc/cc.pdf
            cc-swe/cc-swe-mini.pdf
            cc-swe/cc-swe-mini-print.pdf

      - name: Prepare GitHub Pages content
        run: |
          mkdir -p output
          cp lak/lak.pdf output/
          cp cc/cc.pdf output/
          cp cc-swe/cc-swe-mini.pdf output/
          cp cc-swe/cc-swe-mini-print.pdf output/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          publish_branch: gh-pages
          force_orphan: true
